body {
  background-color: FloralWhite;
}
.col-md-5 img {
    width: 100%;
}
background-image: {
    max-width: 100%;
    height: auto;
    display: block;
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
footer {
  background-color: #EAF2F8; 
}

.nav-link {
    font-size: 16px;
}
.form-group {
    margin: 0;
}
.instructions, .riddle-question {
    background-color: #F8F8FF;
    margin: auto;
}
.table-responsive {
    background-color: white;
    margin: 0;
}
.table-guesses {
    max-width: 60%;
    margin: auto;
}
.feedback {
    font-size: 20px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.yellow {
    color: GoldenRod;
}
.blue {
    color: CornflowerBlue;
}
a.nav-link {
    font-size: 20px;
}
#riddle {
    color: GoldenRod;
    font-size: 20px;
}
::placeholder {
    color: CadetBlue;
}