body {
  background-color: FloralWhite;
}
background-image: {
    max-width: 100%;
    height: auto;
    display: block;
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
footer {
  background-color: #EAF2F8; 
}
/* navigation home link font size */
.navbar-brand {
    font-size: 24px;
}

/* forms margin style */
.form-group {
    margin: 0;
}
/* home page instruction and riddle question background styles */
.instructions, .riddle-question {
    background-color: #F8F8FF;
    margin: auto;
}
/* riddle question submit button */
.btn-info{
    border-radius: 50px;
}
/* table formats */
.table-responsive {
    background-color: white;
    margin: 0;
}
.table-guesses {
    max-width: 60%;
    margin: auto;
}
/* flashed text */
.feedback {
    font-size: 20px;
}
/* home page instruction text colors */
.green {
    color: green;
}
.red {
    color: red;
}
.yellow {
    color: GoldenRod;
}
.blue {
    color: CornflowerBlue;
}
/* color style for riddle */
#riddle {
    color: GoldenRod;
    font-size: 20px;
}
/* placeholder text color */
::placeholder {
    color: CadetBlue;
}
.form-control::placeholder {
    color: CadetBlue;
}