{% extends 'base.html' %} {% block content %}
 <h2 class = "text-center">{{ page_title }}</h2>
 <h2 class = "text-center">Welcome {{ username }}: Follow the instructions below</h2>
 <!--set up the riddle form containing the riddle, instructions and answer button-->
<div class ="row riddle-question form-group">
        <div class = "col-sm-12">
            <form method="POST" class = "form-group text-center">
                <label for="riddle">Guess the riddle below. Click button to guess</label>
                <h3><textarea class="form-control text-center" rows="3" id="riddle">{{ riddles_data[riddle_counter]["riddle"] }}</textarea></h3>
               <div class = "row">
                   <div class = "col-sm-4">
            <!--set the riddle counter which will end the game when equal to the total number of riddles in the data-->
                     <label for="riddle_counter">Riddle Counter:</label>   
                     <input type="text" id="riddle_counter" placeholder = "Riddle Counter" maxlength="4" size="4" name="riddle_counter" readonly value = "{{ riddle_counter }}">
                    </div>
                     <div class = "col-sm-5"><input type="text" class = "form-control" autocomplete="off" placeholder = "Write guess here, then click button or hit enter" id="message" name="message" pattern="[a-zA-Z0-9]{1,}"></div>
                     <div class = "col-sm-3"><button class = "btn btn-info">Guess the Riddle!</button></div>
                </div>
          </div>
    </div>
    <!--flash a message to congratulate if answer is right or commiserate if wrong-->
     <div class = "col-sm-12 text-center feedback">
     {% with messages = get_flashed_messages(with_categories=true) %} 
         {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <h3 class ="{{ category }}">{{ message }}</h3>
            {% endfor %}
        </div>
        {% endif %} 
    {% endwith %}
   <!--let user see if points were gained or lost for riddle answered-->
    <div class = "individ_score">
       <h4 class = "blue" >On this one you scored  {{ score }}</h4><br>
    </div>
<!--------scroll to the riddle question------->
 <script>
    function scrollWin() {
    window.scrollTo(600, 1000);
    }
    scrollWin();
</script>  
       
<!-- wrong guesses section -->
<div class = "row">
    <div class="col-sm-12">
        <h4 class="table-header text-center red" id = "return_here">Wrong Guesses</h4>
 <!-- wrong guess list showing date/time user and wrong guess-->
    <div class="table-responsive table-guesses">          
          <table class="table text-center">
            <thead class = "thead-dark">
                        <tr>
                            <th>((Y-m-d)(h:m:s)) Username - Wrong Answer</th>
                        </tr>
            </thead>
                <!-- Display Wrong Answers-->
                        <tbody>
                            {% for message in game_messages %}
                          <tr>
                            <td>{{ message }}</td>
                          </tr>
                            {% endfor %}
                        </tbody> 
           </table>
     </div>
   </div>
</div>
    
    
{% endblock %}
